# 1. T-Test

In [17]:
# Import necessary libraries
import numpy as np
from scipy import stats

In [20]:

# Given student scores
data = np.array([1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29])

In [29]:
# Hypothesized population mean
df = pd.DataFrame(data)
df

# Hypothesized population mean
df = pd.DataFrame(data)
df
col_names = ['Values']
df.columns = col_names
print(df)

    Values
0     1.13
1     1.55
2     1.43
3     0.92
4     1.25
5     1.36
6     1.32
7     0.85
8     1.07
9     1.48
10    1.20
11    1.33
12    1.18
13    1.22
14    1.29

In [28]:
mu=df['Values'].mean()
mu

1.2386666666666666

In [39]:
# Perform one-sample t-test
tstat, pvalue = stats.ttest_1samp(df['Values'], mu)
print("T statistic:", tstat)
print("P-value:", pvalue)

T statistic: 0.0
P-value: 1.0

In [40]:
alpha = 0.01
if pvalue < alpha:
    print("H0 is rejected and H1 is accepted")
else:
    print("H1 is rejected and H0 is accepted")

H1 is rejected and H0 is accepted

# 2. Z-Test

In [1]:
from scipy.stats import binom
from scipy.stats import norm
import numpy as np
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as ztests

In [2]:

# Given student scores
data = np.array([1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29])

In [3]:
# Hypothesized population mean
df = pd.DataFrame(data)
df

# Hypothesized population mean
df = pd.DataFrame(data)
df
col_names = ['Values']
df.columns = col_names
print(df)

    Values
0     1.13
1     1.55
2     1.43
3     0.92
4     1.25
5     1.36
6     1.32
7     0.85
8     1.07
9     1.48
10    1.20
11    1.33
12    1.18
13    1.22
14    1.29

In [4]:
mu=df['Values'].mean()
print(mu)

zcalc,pvalue = ztests.ztest(df['Values'],value = 1,alternative = 'smaller')

1.2386666666666666

In [5]:
print("Z calculated value :",zcalc)
print("P value :",pvalue)

Z calculated value : 4.785319237864924
P value : 0.9999991464211515

In [6]:
alpha = 0.01
if pvalue < alpha:
    print("H0 is rejected and H1 is accepted")
else:
    print("H1 is rejected and H0 is accepted")

H1 is rejected and H0 is accepted