In [1]:
import numpy as np
import pandas as pd
import researchpy as rp

In [7]:
data = np.array([['Very Satisfied',50,70,120],['Satisfied',80,100,180],['Neutral',60,90,150],['Unsatisfied',30,50,80],['Very Unsatisfied',20,50,70],['Total',240,360,600]])
data

array([['Very Satisfied', '50', '70', '120'],
       ['Satisfied', '80', '100', '180'],
       ['Neutral', '60', '90', '150'],
       ['Unsatisfied', '30', '50', '80'],
       ['Very Unsatisfied', '20', '50', '70'],
       ['Total', '240', '360', '600']], dtype='<U16')

In [8]:
col_names = ['Satisfaction','Smart Thermostat','Smart Light','Total']

In [9]:
df = pd.DataFrame(data)
df

                  0    1    2    3
0    Very Satisfied   50   70  120
1         Satisfied   80  100  180
2           Neutral   60   90  150
3       Unsatisfied   30   50   80
4  Very Unsatisfied   20   50   70
5             Total  240  360  600

In [10]:
df.columns = col_names
df

       Satisfaction Smart Thermostat Smart Light Total
0    Very Satisfied               50          70   120
1         Satisfied               80         100   180
2           Neutral               60          90   150
3       Unsatisfied               30          50    80
4  Very Unsatisfied               20          50    70
5             Total              240         360   600

In [11]:
df[['Smart Thermostat','Smart Light']]

  Smart Thermostat Smart Light
0               50          70
1               80         100
2               60          90
3               30          50
4               20          50
5              240         360

In [12]:
table,results = rp.crosstab(df['Smart Thermostat'],df['Smart Light'],test='chi-square')
table

C:\Users\user\anaconda3\lib\site-packages\researchpy\crosstab.py:146: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Pearson Chi-square ( 20.0) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = f"Pearson Chi-square ({dof: .1f}) = "

                 Smart Light
Smart Light              100 360 50 70 90 All
Smart Thermostat
20                         0   0  1  0  0   1
240                        0   1  0  0  0   1
30                         0   0  1  0  0   1
50                         0   0  0  1  0   1
60                         0   0  0  0  1   1
80                         1   0  0  0  0   1
All                        1   1  2  1  1   6

In [13]:
results

                 Chi-square test  results
0  Pearson Chi-square ( 20.0) =   24.0000
1                     p-value =    0.2424
2                  Cramer's V =    1.0000

In [14]:
pvalue=0.2424
alpha = 0.05
if pvalue < alpha:
    print("H0 is rejected and H1 is accepted")
else:
    print("H1 is rejected and H0 is accepted")

H1 is rejected and H0 is accepted